doctype
html(lang='en')
    head
        meta(charset='utf-8')
        style
            include ./email.css
    body
        h2 Reestablecer Password
        p  Hola, has solicitado restablecer tu password, hazclic en el siguiente enlace para restablecer tu contraseña, este enlace es temporal.
        a(href=`${resetUrl}`) Ir a Cambiar Contraseña
        p Si no puedes acceder a este enlace, Visita #{resetUrl}
        p si no solicitaste este e-mail, puedes ignararlo